<%= simple_form_for @play do |f| %>
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select Category")%>
  <%= f.input :title, label: "Play Title",
              label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
              input_html: { autocomplete: "title", 
                            class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } 
  %>
  <%= f.input :description,
              label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
              input_html: { autocomplete: "description", 
                            class: "w-full h-40 bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } 
  %>
  <%= f.input :director, label: "Director",
              label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
              input_html: { autocomplete: "title", 
                            class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } 
  %>

  <% if @play.pic.attached? %>
    <%= image_tag @play.pic, style: "width: 200px; display: block "%>
  <% end %>
  <%= f.input :pic, as: :file, :label => 'Your image ', input_html: { class: 'bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3'} %>

  <%= f.button :submit, class: "bg-pink-400 hover:bg-pink-500 text-white uppercase text-s mx-auto p-2 rounded m-2" %>
<% end %>