<div>
  <% if params[:category] %>
    <h1 class="font-bold mt-12 pb-2 text-2xl border-b border-gray-200"><%= params[:category]%></h1>
  <% else %>
    <h1 class="font-bold mt-12 pb-2 text-2xl border-b border-gray-200">Now Playing!</h1>
  <% end %>
  <% if @plays.count == 0 %>
    <h3 class="">There are no plays in this category!</h3>
  <% else %>
    <div class="mt-8 grid md:grid-cols-4 gap-10">
      <!-- Card go here -->
        <% @plays.each do |play| %>
          <div class="bg-white rounded shadow-md relative hover:shadow-lg">
            <% if play.pic.attached? %> 
              <%= image_tag play.pic, class: "w-full"%>
            <% end %>
            <div class="m-4">
              <h2 class="font-bold"><%= link_to play.title, play_path(play) %></h2>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
