<div class="grid md:grid-cols-12 mt-4">
  <div class="md:col-span-4 mt-4">
    <% if @play.pic.attached? %> 
      <%= image_tag @play.pic, style: "width:325px;  height: 450px"%>
    <% end %>
    <div class="m-4">
      <h2 class="font-bold"><%= @play.title %></h2>
    </div>
  </div>
  <div class="md:col-span-8 border-2 border-pink-300 rounded p-4">
    <h1 class="text-pink-300 text-3xl"><%= @play.title %></h1>
    <h3 class="text-2xl"><span>From - </span><%= @play.director %></h3>
    <h4 clsss="text-blue-200 bold text-l"><%= @play.category.name %></h3>
    
    <h4 clsss="text-blue-200 bold text-l">Average Rating!</h3>
    <div>
        <% if @average_review.ceil == 5 %> 
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        <% elsif @average_review.ceil == 4%>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
        <% elsif @average_review.ceil == 3%>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
        <% elsif @average_review.ceil == 2%>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
        <% elsif @average_review.ceil == 1%>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
        <% else %>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <% end %>
    </div>
    <p><%= @play.description %></p>
    <div class="mt-2">
      <% if user_signed_in? %>
        <% if @play.user_id == current_user.id %>
          <%= link_to "Back", root_path,
              class: "border-2 
                border-indigo-400 
                hover:border-indigo-500 
                text-gray-700 
                hover:text-indigo-800
                hover:bg-indigo-500 
                text-sm 
                uppercase 
                p-2 
                flex-initial
                rounded 
                "            
           %>
          <%= link_to "Edit", edit_play_path(@play),
              class: "border-2 
                    border-blue-400 
                    hover:border-blue-500 
                    text-gray-700 
                    hover:text-blue-800
                    hover:bg-blue-500 
                    text-sm 
                    uppercase 
                    p-2 
                    rounded 
                    ml-2"
          %>
          <%= link_to "Delete", play_path(@play), method: :delete,
              data: { confirm: "Are you sure?"},
              class: "border-2 
                        border-pink-400 
                        hover:border-pink-500 
                        text-gray-700 
                        hover:text-pink-800
                        hover:bg-pink-500 
                        text-sm 
                        uppercase 
                        p-2 
                        flex-initial
                        rounded 
                        ml-2"    
          %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-12 mt-4">
  <div class="md:col-span-10">
    <h1>Reviews</h1>
    <%= render @play.reviews %>
    <div class="mt-4">
      <%= link_to "Add Review", 
          new_play_review_path(@play), 
          class: "border-2 
                border-indigo-400 
                hover:border-indigo-500 
                text-gray-700 
                hover:text-indigo-800
                hover:bg-indigo-500 
                text-sm 
                uppercase 
                p-2 
                flex-initial
                rounded 
                "
      %>
    </div>
  </div>
</div>
