<div>
  <div class="mt-2">
    <% if review.rating == 5 %> 
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    <% elsif review.rating == 4%>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
    <% elsif review.rating == 3%>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    <% elsif review.rating == 2%>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    <% elsif review.rating == 1%>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    <% else %>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    <% end%>
    <p><%= review.comment %></p>
  </div>
  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>
      <div class="mt-2">
        <%= link_to "Edit", edit_play_review_path(review.play, review), 
            class: "border-2 
                    border-blue-400 
                    hover:border-blue-500 
                    text-gray-700 
                    hover:text-blue-800
                    hover:bg-blue-500 
                    text-sm 
                    uppercase 
                    p-2 
                    rounded 
                    ml-2" %>
        <%= link_to "Delete", play_review_path(review.play, review), method: :delete, 
            data: { confirm: "Are you sure?" }, 
            class: "border-2 
                        border-pink-400 
                        hover:border-pink-500 
                        text-gray-700 
                        hover:text-pink-800
                        hover:bg-pink-500 
                        text-sm 
                        uppercase 
                        p-2 
                        flex-initial
                        rounded 
                        ml-2"     %>
      </div>
    <% end %>
  <% end%>
  <div class = "border-b-2 border-pink-300 mt-4 shadow"></div>
</div>