<div class="mt-4">
  <div>
    <h1 class="text-pink-300 text-xl">Edit Review</h1>
    <%= simple_form_for([@play, @review]) do |f| %>
      <div>
        <%= f.input :rating, label: "Rating",
                label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
                input_html: { class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3",
                              min: '0',
                              max: '5',
                } 
        %>
      </div>
        <%= f.input :comment, label: "Comment",
                label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
                input_html: { autocomplete: "Comment", 
                              class: "w-full h-40 bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } %>

        <%= f.button :submit, class: "bg-pink-400 
                                      hover:bg-pink-500 
                                      text-white 
                                      uppercase 
                                      text-s 
                                      mx-auto 
                                      p-2 rounded m-2"
        %>

      <% end %>
  </div>
</div>