<!DOCTYPE html>
<html>
  <head>
    <title>Broadway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
      <nav class="bg-gray-800 shadow-lg mt-2">
        <div class="container mx-auto">
          <div class="sm:flex justify-between">
            <%= link_to "Broadway", root_path,  class: "text-pink-300 text-2xl p-3 " %>
            <% if user_signed_in? %>
            <div class="dropdown inline-block relative mt-12.95l sm:self-center">
              <button class="border-2 border-pink-300 hover:border-pink-700 text-pink-300 text-xl py-2 px-4 rounded inline-flex items-center" id="toggle">
                <span class="mr-1">Dropdown</span>
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
              </button>
              <ul class="dropdown-menu z-40 absolute hidden text-pink-700 pt-1" id="dropdown">
                <% Category.all.each do |category| %>
                  <li id="category">
                    <%= link_to category.name, plays_path(category: category.name),
                        class: "rounded-t bg-gray-200 hover:bg-pink-400 py-2 px-4 block whitespace-no-wrap"
                    %> 
                  </li>
                <% end %>
              </ul>
            </div>
            <ul class="text-pink-300 sm:self-center text-xl border-t sm:border-none">
                <li class="sm:inline-block">
                  <%= link_to "New Play", new_play_path, class: "p-3 hover:text-white" %>
                </li>
              <% end %>
              <% if current_user.present?%>
                <li class="sm:inline-block">
                  <%= link_to "Sing Out", destroy_user_session_path, method: :delete, class: "p-3 hover:text-white" %>
                </li>
              <% else %>
                <li class="sm:inline-block">
                  <%= link_to "Log In", new_user_session_path, class: "p-3 hover:text-white" %>
                </li>
                <li class="sm:inline-block">
                  <%= link_to "Sing Up", new_user_registration_path, class: "p-3 hover:text-white" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container mx-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </body>

</html>
